.text-input {
  font-size: 1em;
  line-height: 1.5;
  color: #eaeaea;
  border-radius: 24px;
  border: 1px solid #eaeaea;
  width: 22.5rem;
  max-width: 100%;
  padding: 0.75rem;
  text-align: center;
  background-color: transparent;
}

.text-input::placeholder {
  color: #eaeaea;
}
