.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
  gap: 1.5rem;
}

.empty-state p {
  margin: 0;
  color: #eaeaea;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
}
